.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;
}

.info-button {
    height: 18px;
    width: 18px;
}

.submit-button {
    margin-bottom: 10px;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: black;
    }

    &:disabled {
        color: grey;
        background-color: 'black';

        &:hover {
            cursor: auto;
        }
    }
}