.single-player {
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 0 5px 10px;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: black;
    }
}