.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100vw;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

select {
  border: none;
  border-radius: 5px;
  padding: 5px;
}